@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: #000; */
  background: #fff;
}
.circle {
  width: 5px;
  height: 5px;
  border-radius: 50%; /* Create circular shape */
  background-color: #000; /* Circle color */
  margin-right: 5px; /* Adjust spacing between circles and text */
}
